#nav-bar {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 100%;
  height: 52px;
}
#nav-bar-bg {
  padding: 0px;
  float: left;
  height: 82px;
  width: 100%;
}
#nav-home-text {
  color: black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#nav-about-contact-text {
  color: black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#nav-software-text {
  color: black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#nav-hardware-text {
  color: black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#nav-help-text {
  color: black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
